<div class="legend">
    <div class="legend-item">
        <h4>Máscara</h4>
        <div class="legend-images">
            <div class="legend-image">
                <img src="/assets/img/png/required-mask.png" alt="mask icon">
                <p>Obrigatório</p>
            </div>

            <div class="legend-image">
                <img src="/assets/img/png/recommended-mask.png" alt="mask icon">
                <p>Recomendado</p>
            </div>
        </div>
    </div>

    <div class="legend-item">
        <h4>Toalha</h4>
        <div class="legend-images">
            <div class="legend-image">
                <img src="/assets/img/png/required-towel.png" alt="towel icon">
                <p>Obrigatório</p>
            </div>

            <div class="legend-image">
                <img src="/assets/img/png/recommended-towel.png" alt="towel icon">
                <p>Recomendado</p>
            </div>
        </div>
    </div>

    <div class="legend-item">
        <h4>Bebedouro</h4>
        <div class="legend-images">
            <div class="legend-image">
                <img src="/assets/img/png/partial-fountain.png" alt="fountain icon">
                <p>Parcial</p>
            </div>

            <div class="legend-image">
                <img src="/assets/img/png/not_allowed-fountain.png" alt="fountain icon">
                <p>Proibido</p>
            </div>
        </div>
    </div>

    <div class="legend-item">
        <h4>Vestiário</h4>
        <div class="legend-images">
            <div class="legend-image">
                <img src="/assets/img/png/allowed-lockerroom.png" alt="lockerroom icon">
                <p>Liberado</p>
            </div>

            <div class="legend-image">
                <img src="/assets/img/png/partial-lockerroom.png" alt="lockerroom icon">
                <p>Parcial</p>
            </div>

            <div class="legend-image">
                <img src="/assets/img/png/closed-lockerroom.png" alt="lockerroom icon">
                <p>Fechado</p>
            </div>
        </div>
    </div>
</div>